{% load static %}

 <div class="widget sidebar-widget widget_categories">
    <h4 class="widget-title">Trending Category</h4>
    <ul class="list-wrap">
         {% for name,count in categories.items %}
        <li>
            <div class="thumb"><a href="{% url 'blog:category' cat_name=name %}"><img src="{% static 'assets/img/category/side_category01.jpg' %}" alt="img"></a></div>
            <a href="{% url 'blog:category' cat_name=name %}">{{name}}</a>
            <span class="float-right">{{count}}</span>
        </li>
        {% endfor %}
    </ul>
</div>