{% load static %}

<div class="tgAbout-me">
    <div class="tgAbout-thumb">
        <img src="{% static 'assets/img/others/about_me.png' %}" alt="me">
    </div>
    <div class="tgAbout-info">
        <p class="intro">Hi there, I’m <span>Rosalina D.</span></p>
        <span class="designation">Content Writer</span>
    </div>
    <div class="tgAbout-social">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-behance"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
    </div>
</div>